movie_chat_workflow.json
[{"updatedAt":"2026-04-23T09:53:58.338Z","createdAt":"2026-04-22T23:24:26.303Z","id":"6HRQRETl1oyh3EVV","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"movie-chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-64,0],"id":"4c5eaa82-dec8-4541-9ec7-f5e48c1d3d38","name":"Webhook","webhookId":"bf432a73-8847-4ff8-805a-95c79b5bae95"},{"parameters":{"promptType":"define","text":"=You are an intelligent movie assistant for a platform called Cinesphere.\n\nUSER QUERY:\n{{$json.body.message}}\n\nYou can:\n- Recommend movies\n- Explain movies (plot, cast, release, etc.)\n- Compare movies\n- Answer general movie-related questions\n\nSTRICT RULES:\n- Always return ONLY valid JSON\n- No text outside JSON\n- Use double quotes for everything\n- No trailing commas\n\nIF the user is asking for recommendations:\n{\n  \"type\": \"movies\",\n  \"movies\": [\n    {\n      \"name\": \"Movie Name\",\n      \"genre\": \"Genre\",\n      \"reason\": \"Short reason\"\n    }\n  ]\n}\n\nIF the user is asking about a specific movie (like plot, details, cast, etc.):\n{\n  \"type\": \"details\",\n  \"title\": \"Movie Name\",\n  \"year\": \"Year\",\n  \"genre\": \"Genre\",\n  \"summary\": \"Short explanation\",\n  \"cast\": [\"Actor 1\", \"Actor 2\"],\n  \"director\": \"Director Name\"\n}\n\nIF the user is asking general questions:\n{\n  \"type\": \"text\",\n  \"message\": \"Your answer here\"\n}\n\nIF unclear:\n{\n  \"type\": \"text\",\n  \"message\": \"Please ask something related to movies.\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[144,0],"id":"facd543a-ba2b-42c1-980b-aa39d718a1af","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[112,192],"id":"b632dbf7-7ef5-4ccf-b7ad-eb4fefbe0ec6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"UB3IRZ88xdPCnNoo","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"let raw = $json.output || \"\";\n\n// If output is wrapped in markdown code blocks, extract it\nif (raw.includes(\"```json\")) {\n  raw = raw.split(\"```json\")[1].split(\"```\")[0].trim();\n} else if (raw.includes(\"```\")) {\n  raw = raw.split(\"```\")[1].split(\"```\")[0].trim();\n}\n\n// clean escape characters if needed\nconst cleaned = raw.replace(/\\\\n/g, \"\").replace(/\\\\\"/g, '\"').trim();\n\ntry {\n  const parsed = JSON.parse(cleaned);\n  return [\n    {\n      json: {\n        movies: parsed\n      }\n    }\n  ];\n} catch (e) {\n  try {\n    const parsedRaw = JSON.parse(raw.trim());\n    return [\n      {\n        json: {\n          movies: parsedRaw\n        }\n      }\n    ];\n  } catch (e2) {\n    return [\n      {\n        json: {\n          error: \"Invalid JSON\",\n          raw: raw,\n          err: e2.message\n        }\n      }\n    ];\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"5cc71fa1-00ea-4fc3-9536-7930f7daf658","name":"Code in JavaScript"},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[704,0],"id":"c27f7724-120c-4303-b9c0-54fc24d4d9dd","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7dbe980a-4be1-4862-bfb1-6cc34f5f3a9f","activeVersionId":"7dbe980a-4be1-4862-bfb1-6cc34f5f3a9f","versionCounter":97,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-22T23:24:26.317Z","createdAt":"2026-04-22T23:24:26.317Z","role":"workflow:owner","workflowId":"6HRQRETl1oyh3EVV","projectId":"IFrlT8MESj3TVgM6","project":{"updatedAt":"2026-04-22T23:16:20.849Z","createdAt":"2026-04-22T23:13:08.881Z","id":"IFrlT8MESj3TVgM6","name":"Chintan Jain <chintan@local.com>","type":"personal","icon":null,"description":null,"creatorId":"fae6b12d-1332-446c-a5f4-63bfb7e5b2ae"}}],"versionMetadata":{"name":"Version 7dbe980a","description":""}}]